<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title> HOME IOT NETWORK </title>
</head>
<body>
	<h1> LED, Speaker, Ultrasonic </h1>
	<form action = '/data' method = 'post'>
		<input type = "submit" value="on" name="led" >
		<input type = "submit" value="off" name="led" >
		<input type = "submit" value="LEDloop" name="led">
		<input type = "submit" value="LEDflash" name="led">
		<br>
		<input type = "submit" value="restart" name="led">
		<input type = "submit" value="clean" name="led">
		<br>
		<input type = "submit" value="Piano" name="led">
		<br>
		<input type = "submit" value="Legacy of rabbit living on the moon" name="led"><br>
		<input type = "submit" value="Ultra" name="led">
	</form>
</body>
</html>
<!--led 확장자로 일단 모두 제어해버림 -->
